.footer {
  /* background: rgb(221, 221, 221); */
  margin-top: 10%;
  cursor: pointer;
  color: rgb(75, 75, 75);
}

.contact {
  font-size: 10px;
}

.SocialIcon {
  padding: 5px;
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
  margin: 10px;
}

.icon {
  margin-right: 10px;
}
/* div {
  padding-top: 5px;
} */
.contact > p {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}

.copyright {
  font-size: 13px;
  padding-bottom: 20px;
  color: rgb(180, 180, 180);
}

.SocialIcon > a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}
