.card {
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  max-width: 320px;
  margin-right: 10px;
  margin-top: 1.5%;

  /* font-size: large; */
  font-family: Arial, Helvetica, sans-serif;
  /* text-decoration: none; */
}

.cardText {
  display: flex;
  justify-content: space-between;
  font-family: "Crimson Pro", serif;
  font-size: 20px;
  padding-top: 10%;

  /* text-decoration: none; */
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 5px -5px;
}
